body{
  background-color: rgba(4, 11, 50, 0.838);
}

section{
  display: flex;
  margin: auto;
  width: 1200px;
  height: 720px;
}

section img{
  width: 0px;
  flex-grow: 1;
  object-fit: cover;
  opacity: .3;
  transition: .6s ease;
}

section img:hover{
  width: 300px;
  opacity: 1;
  filter: contrast(120%);
}